* {
    font-family: Calibri, sans-serif;
    color: white;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0 auto 0 auto;
    background-color: #181818;
}

/* Navbar*/
header{
    height: 8%;
}

nav {
    width: 100%;
    background-color: #121212;
    position: fixed; 
    padding-inline-start: 0;
}

/*flexbox*/

ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-inline-start: 0;
    font-size: 22px;
}

li {
    display: inline;
    List-style: none;
}

a:link, a:visited, a:active, a:hover { 
    text-decoration: none; 
}

/* end of flexbox*/

/*start of page content*/

main {
    width: 80%;
    margin: 0 auto 0 auto;
    text-align:left;
    font-size: 22px;
}

#padRemove {
    padding: 0;
}

h2 {
    color: white;
    background-color: #181818;
    padding: 5%;
    opacity: .8;
}

p {
    word-wrap: break-word;
    text-align: left;
}

.hero {
    margin: 0 auto 0 auto;
    width: 100%;
}

/*Background images for project cards*/

#bg1 {
    background-image: url("./assets/succulent-1.jpg");
    background-position: center;
}

#bg2 {
    background-image: url("./assets/succulent-2.jpg");
}

#bg3 {
    background-image: url("./assets/succulent-3.jpg");
    background-position: center;
}

#bg4 {
    background-image: url("./assets/succulent-4.jpg");
}

#bg5 {
    background-image: url("./assets/succulent-5.jpg");
    background-position: center;
}

#bg6 {
    background-image: url("./assets/succulent-6.jpg");
}

#bg7 {
    background-image: url("./assets/succulent-7.jpg");
    background-position: center;
}

#bg8 {
    background-image: url("./assets/succulent-8.jpg");
}

.grayscale{
    filter: grayscale(100);
    transition: all .5s ease-in-out;
}

.grayscale:hover{
    filter: none;
    transform: scale(1.1)
}

/*styling for contact and project cards*/

.card {
    border: 0px solid #181818;
    text-align: center;
    box-shadow: 0 -5px grey, 0 5px grey;
    height: 100%;
    max-width: 100%;
    padding: 5%;
    margin: 0 auto 0 auto;
}

.card:hover{
    filter: none;
}

.cardFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: space-between;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}


@media screen and (max-width: 1200px) {
    *{
        font-size: 20px;
    }
}


@media screen and (max-width: 700px) {

* {
    font-size:16px;
 }

body {
    max-width: 100vh;
}

main {
    width: 75%;
    margin: 0% auto 0 10vh;
    padding: 0 auto 0 1vh;
    font-size: 16px;
}

.hero {
    margin: 0% auto 0 auto;
    padding-top: 4%;
}

p {
    text-align: left;
}

header {
    width: 0;
    height: 0;
    background-color: #121212;
}

nav {
    width: 8vh;
    height: 100%;
    position: fixed; 
    padding: 0 1% 0 1%;
    overflow: hidden;
}


ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: flex-start;
    height:100%;
    text-align: center;
}

li {
    display: inline;
    height:100%;
    margin: 0 auto 0 auto;
    
}

section {
    max-width: 80vh;
}

.flextopmargin{
    margin-top: 5%;
}

.cardFlex {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 16px;
    justify-content: center;
    margin: 0 auto 0 auto;
    
}


.card {
    box-shadow: 0 0;
    max-width: 80%;
    margin: 2% auto 2% auto;
}
}


