* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0 auto 0 auto;
    background-color: #181818;
}


/*flexbox*/

/* defining flexbox containing nav bar items*/
nav {
    width: 100%;
    background-color: #121212;
    position: fixed; 
    font-size: 26px;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: content;
    justify-content: space-evenly;
    padding-inline-start: 0;
}
/* End of Flexbox*/

/*Elements inside flexbox*/




li {
    display: inline;
    List-style: none;
}



a:link, a:visited, a:active { 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

/* End of Navbar/Flexbox*/

/*start of page content*/

.hero {
    margin: 1% auto 0 auto;
    width: 100%;
}

main {
    width: 80%;
    margin: 0 auto 0 auto;
    text-align:left;
    font-size: 22px;
}

/*styling for contact and project cards*/
.contact1 {
    border: 5px solid #181818;
    text-align: center;
    box-shadow: 0 -5px grey, 0 5px grey;
}

.line1flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    max-width: 100%;
  
    
}


p {
    word-wrap: break-word;
    text-align: left;
}

@media screen and (max-width: 665px) {

* {
    font-size: 105%;
    max-width: 100vh;
}

body{
    max-width: 100vh;
}

main {
    font-size: 105%;
    width: 82%;
    margin: 0% auto 0 9vh;
    padding-left: 4vh;
    padding-right: 2vh;
}

.hero {
    margin: 0% auto 0 auto;
}

p {
    text-align: left;
    
}

nav {
    width: 10vh;
    height: 100%;
    background-color: #121212;
    position: fixed; 
    font-size: 22px;
}


ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: flex-start;
    height:100%;
    
}

li {
    display: inline;
    height:100%;
    margin: 0 auto 0 auto;
}

section{
    max-width: 80vh;
}

.line1flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
}